#cart .boxHead h2 {
    padding-left: 30px;
    position: relative;
    z-index: 10;
    height: 60px;
    padding: 0 10px 0 24px;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .06);
    background: #f3f3f3;
    background: linear-gradient(#fbfbfb, #ececec);
    line-height: 60px;
    font-size: 18px;
    color: #333;
}

#cart .boxBody {
    padding: 20px 0;
}

#cart .emptyCartImg {
    margin: 0 auto;
    background: url(../../images/car.jpg) no-repeat;
    width: 300px;
    height: 300px;
    color: #8d8d8d;
}

#cart .tips {
    text-align: center;
    padding: 20px;
    color: rbg(141, 141, 141);
}

#cart .toBuy {
    margin: auto;
    display: block;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    color: #8d8d8d;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background: rgba(141, 141, 141, 0.1)
}

#cart .toBuy:hover {
    text-decoration: none;
}

.main {
    background: #ededed
}

.content {
    background: #fff;
    width: 61%;
    margin: auto;
}

#cart .cartListTile {
    position: relative;
    top: -35px;
    z-index: 1;
    line-height: 38px;
    height: 38px;
    font-size: 12px;
    background: #eee;
    border: 1px solid #eee;
    border-bottom-color: rgba(0, 0, 0, .08);
}

#cart .cartGoods span,
#cart .cartListTile span {
    display: inline-block;
    width: 140px;
    text-align: center
}

#cart .cartGoods {
    height: 100px;
    position: relative;
    top: -35px;
    border-bottom: 1px solid #ccc;
}

#cart .cartGoods>div {
    height: 100;
    float: left;
}

#cart .cartGoods .descrip {
    width: 43.5%;
}

#cart .cartGoods .descrip a {
    line-height: 60px;
    color: #888;
    text-decoration: none;
    font-size: 15px;
}

#cart .cartGoods .descrip img {
    margin: 20px 30px 0 30px;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

#cart .cartGoods .price,
#cart .cartGoods .sumPrice,
#cart .cartGoods .operation {
    text-align: right;
    width: 130px;
    line-height: 100px;
}

#cart .cartGoods span {
    font-size: 12px;
}

#cart .cartGoods .box {
    border: 1px solid #ccc;
    margin-top: 32px;
    margin-left: 80px;
    height: 28px;
}

#cart .cartGoods .count .sum {
    float: left;
    display: block;
    width: 30px;
    height: 26px;
    line-height: 26px;
    outline: 0 none;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: none;
    border-bottom: none;
    text-align: center;
}

#cart .msCount,
#cart .psCount {
    display: inline-block;
    width: 14px;
    text-align: center;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    float: left;
}

#cart .allImg {
    float: left;
    background-image: url(../../images/login_ico.png);
    background-position: -2px -169px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #ccc;
    margin: 0 20px 0 20px;
}

#cart .cartBottom {
    height: 52px;
    margin-bottom: 20px;
}

#cart .all {
    margin-top: 15px;
    float: left;
    font-size: 15px;
}

#cart .allBa {
    float: right;
    font-size: 15px;
}

#cart .allBa div {
    float: left
}

#cart .allBa .changed,
#cart .allBa .allprices,
#cart .allBa .sure {
    overflow: hidden;
    width: 150px;
    margin-right: 20px;
}

#cart .allBa .sure button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: coral;
    border: none;
    border-radius: 5px;
}

#cart .allBa .changed p span,
#cart .allBa .allprices p span {
    font-size: 20px;
    color: #ff0000;
}